*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:url(./images/Reports/1.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.form-row{
    margin-left: 6rem;
}
.search{
    background:#51087E;
    color: #fff;
}
#reports{
    margin: 5rem auto;
}